.share-socials {
  margin: 2rem 0;
  .share-icon-collections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;

    a:hover {
      color: $color-boton;
    }

    .share-icon {
      margin-right: 10px;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

.shareLink {
  margin: 1rem 0;
}

.searchMessages {
  margin: 1rem 0;
}
