.feedElementsContainer {
  display: flex;
  flex-direction: column;
  .feedElement {
    display: flex;
    background-color: #fff;
    border-radius: 0.3125rem;
    padding: 1.25rem;

    .feedText {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .feedText-title {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
      }
    }

    .feedImage {
      margin-left: 10%;
      width: 30%;
    }
  }

  .feedElement:not(:first-child) {
    margin-top: 1.25rem;
  }
}

.scrollItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
  margin: 1rem auto;
}
