
h1 {
    color:$primary-color;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: 248px;
    margin-left: 32px;
    margin-top: 1.33em;
    margin-bottom: 1em;
}
