.registerInfo {
  display: flex;
  flex-direction: column;
  padding: 1%;

  > h2 {
    font-size: 2rem;
    margin: 2% 0;
  }

  .successIcon {
    font-size: 4rem;
    color: rgb(42, 156, 42);
  }

  .registerInfo-text {
    font-size: 1.2rem;
    margin: 2% 0;
  }
}
