.searchgroups{
    width: 37.5rem;
    height: 8.125rem;
    left:0rem;
    top: 2rem;
    display: flex;
    border-radius: 1rem;
    box-shadow:  0rem 0rem 0.313rem rgba(0, 0, 0, 0.5) ;
    background-color: $color-base2;   
  }
  .icono-search-grupos{
    position: absolute;
    top:23%;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }
  .groups-name {
    font-size: 1.3rem;
    font-family: "Poppins";
    position: absolute;
    top:3%;
    left: 1rem;
    font-weight: 900;
  }
  .members{
    font-size: 1rem;
    font-family: "Poppins";
    position: absolute;
    top:27%;
    left: 0.6rem;
    font-weight: 300;
    
  }
  .textmembers{
    font-size: 1rem;
    font-family: "Poppins";
    position: absolute;
    top:27%;  
    left: 3rem;
    font-weight: 300;
    text-align: justify;
  }
  .description{
    font-size: 0.8rem;
    font-family: "Poppins";
    position: absolute;
    top:50%;
    left: 0.6rem;
    font-weight: 300;
    line-height: 100%;
    margin-right:2rem ;
    text-align: justify;
  }
  .search-groups-button{
    position: absolute;
    left: 26rem;
    top:32%;
    width: 3rem;
    border: none;
    border-radius: 1rem;
    background-color:$color-boton;
    color: #ffffffe8;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
   
  
  }
  .ant-btn-default.search-groups-button:hover {
    background-color:$darker-primary-boton;
    color: $color-base;
  }
  .round-square{
    background-color:$color-otro;
    position: absolute;
    border-color: $color-boton;
    top: 1rem;
    left: 7rem;
    z-index: 4;
    height: 6rem;
    width: 25rem;
    border-radius: 1rem;
    border-width: 6.25rem;
  }
  
  
  