@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}
.content {
  max-width: 31.25rem;
  margin: auto;
}

html,
a {
  color: inherit;
  text-decoration: none;
}

.ant-input:focus {
  border-color: #e98557;
}

body {
  font-family: "Roboto", "Poppins";
}

.form {
  display: grid;
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
  left: 0.625rem;
  width: 25rem;
}
.container123 {
  display: flex; /* or inline-flex */  
  flex-direction: row;
  width:"80REM"
}

#formRegister {
  height: 36.25rem;
}
#formCrearGrupo {
  height: 45rem;
  width: 22.55rem;
}

#cardRegister {
  height: 33.75rem;
}
#cardCrearGrupo {
  height: 44.25rem;
}
.gallery {
  position: relative;
  display: block;
  width: 100%;
  max-width: 15.5rem;
  height: 22.75rem;
  top: 2.5rem;
}

a:link,
a:visited {
  color: $primary-color;
}

.pic {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 5rem;
}
#picRegistro {
  top: 3rem;
  -webkit-animation: fadeRegistro 40s cubic-bezier(0.9, 0, 0, 1) infinite;
  animation: fadeRegistro 40s cubic-bezier(0.9, 0, 0, 1) infinite;
}
#picLogin {
  top: 1.25rem;
  -webkit-animation: fadeLogin 50s cubic-bezier(0.9, 0, 0, 1) infinite;
  animation: fadeLogin 50s cubic-bezier(0.9, 0, 0, 1) infinite;
}

@-webkit-keyframes fadeLogin {
  0% {
    background-image: url("/imagenes/Imagen1.png");
  }
  25% {
    background-image: url("/imagenes/Imagen2.png");
  }
  50% {
    background-image: url("/imagenes/Imagen3.png");
  }
  75% {
    background-image: url("/imagenes/Imagen4.png");
  }
  100% {
    background-image: url("/imagenes/Imagen1.png");
  }
}

@keyframes fadeLogin {
  0% {
    background-image: url("/imagenes/Imagen1.png");
  }
  25% {
    background-image: url("/imagenes/Imagen2.png");
  }
  50% {
    background-image: url("/imagenes/Imagen3.png");
  }
  75% {
    background-image: url("/imagenes/Imagen4.png");
  }
  100% {
    background-image: url("/imagenes/Imagen1.png");
  }
}
@-webkit-keyframes fadeRegistro {
  0% {
    background-image: url("/imagenes/Imagen5.png");
  }
  33% {
    background-image: url("/imagenes/Imagen6.png");
  }
  66% {
    background-image: url("/imagenes/Imagen7.png");
  }
  100% {
    background-image: url("/imagenes/Imagen5.png");
  }
}

@keyframes fadeRegistro {
  0% {
    background-image: url("/imagenes/Imagen5.png");
  }
  33% {
    background-image: url("/imagenes/Imagen6.png");
  }
  66% {
    background-image: url("/imagenes/Imagen7.png");
  }
  100% {
    background-image: url("/imagenes/Imagen5.png");
  }
}
.ant-select-item-option-content {
  white-space: normal;
  word-break: keep-all;
}
.ant-menu {
  background: $primary-color;
}

.alpha-9 {
  opacity: 0.9;
}

.alpha-7 {
  opacity: 0.7;
}

.alpha-5 {
  opacity: 0.5;
}

/* width */
::-webkit-scrollbar {
  width: 0.625rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

