@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}
.content {
  max-width: 500px;
  margin: auto;
}

html,


a {
  color: inherit;
  text-decoration: none;
}

.ant-input:focus {
  border-color: #e98557;
}

* { font-family: 'Poppins' }
body {
  background: #f6f5f7;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
  min-height: fit-content;
}

.mainContainer {


  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; 
  background-color: #BAD7E9;
  background-size: cover;

}
.form {


  display: grid;
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
  left: 10px;
  height: 400px;
  width: 500px;


}
.card{
margin: auto;
border-radius: 64px;
background: #FCFFE7;
background-size: cover;
box-shadow:  12px 12px 24px #b0c1c2;
display: flex;
width: 800px;
height: 464px;
            }


.gallery {
  position: relative;
  display: block;
  width: 100%;
  max-width: 248px;
  height: 364px;
  top: 40px;
}
.cardR{
  margin: auto;
  border-radius: 64px;
  background: #FCFFE7;
  box-shadow:  12px 12px 24px #b0c1c2;
  
                
  display: flex;
  width: 800px;
  height: 540px;
  }
  .formR {
  
  
    display: grid;
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
    top: 0 px;
    left: 10px;
    height: 580px;
    width: 360px;
  
  
  }
a:link, a:visited {
  color: #2B3467;

}

.pic {

  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: fade 60s cubic-bezier(.8,0,0,1) infinite;
  animation: fade 60s cubic-bezier(.8,0,0,1) infinite;

}

@-webkit-keyframes fade {
  0% {
    background-image: url('/imagenes/Imagen1.png');
  }
  25% {
    background-image: url('/imagenes/Imagen2.png');
  }
  50% {
    background-image: url('/imagenes/Imagen3.png');
  }
  75% {
    background-image: url('/imagenes/Imagen4.png');
  }
  100% {
    background-image: url('/imagenes/Imagen1.png');
  }
}

@keyframes fade {
  0% {
    background-image: url('/imagenes/Imagen1.png');
  }
  25% {
    background-image: url('/imagenes/Imagen2.png');
  }
  50% {
    background-image: url('/imagenes/Imagen3.png');
  }
  75% {
    background-image: url('/imagenes/Imagen4.png');
  }
  100% {
    background-image: url('/imagenes/Imagen1.png');
  }

}
.ant-select-item-option-content {
  white-space: normal;
  word-break: keep-all;

}